/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/contini.sublime-workspace
/src/afip_res/TA-27327353840-wsfe.xml
/src/afip_res/TA-30715288075-wsfe-production.xml
.idea/.gitignore
.idea/03-optica.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
composer.json
composer.lock
