{% extends 'base.html.twig' %}

{% block header %}
Orden de trabajo
{% endblock %}

{% block header_description %}
{% endblock %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block body %}

{% form_theme form 'ordentrabajo/formCollection.html.twig' %}
{{ form(form) }}
{{ form_end(form) }}

<script type="text/javascript">
    $('.ordenTrabajoDetalle-collection').collection({
        allow_duplicate: false,
        allow_up: false,
        allow_down: false,
        init_with_n_elements: 1,
        add_at_the_end: true,
        add: '<a href="#" class="btn btn-default" title="Agregar Orden"><span class="glyphicon glyphicon-plus-sign"></span></a>',
        elements_selector: 'tr.item',
        elements_parent_selector: '%id% tbody',
        after_add: function(collection, element) {
            orden = element.find("select.orden");
            
            orden.on('change', function(){
                fnOrdenChange($(this));
            });

            orden.on('change', function(){
                fnRenglonChange($(this));
            });

            return true;
         },
         after_remove: function(collection, element) {
            //Recalculo todos los totales
            fnCalcularTotales();

            return true;
         }
    });

</script>          
{% endblock %}
