{% extends 'base.html.twig' %}

{% block header %}
Nuevo Comprobante de Venta
{% endblock %}

{% block header_description %}
{% endblock %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block body %}    

{% form_theme form 'comprobanteventa/formCollection.html.twig' %}
{{ form(form) }}
{{ form_end(form) }}

<script type="text/javascript">
    $('.articulo-collection').collection({
        allow_duplicate: false,
        allow_up: false,
        allow_down: false,
        init_with_n_elements: 1,
        add_at_the_end: true,
        add: '<a href="#" class="btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>',
        elements_selector: 'tr.item',
        elements_parent_selector: '%id% tbody',
        after_add: function(collection, element) {
            articulo = element.find("select.articulo");
            //alert(articulo_select.prop('outerHTML'));
            
            articulo.on('change', function(){
                fnArticuloChange($(this));
            });

            element.on('change', function(){
                fnRenglonChange($(this));
            });

            return true;
         },
         after_remove: function(collection, element) {
            //Recalculo todos los totales
            fnCalcularTotales();

            return true;
         }
    });

    function fnArticuloChange(articulo) {
        var data = { articuloId: articulo.val() };
        var renglon = articulo.closest("tr");
        var precio_venta = renglon.find("input.precioVenta");
        var importe_iva = renglon.find("input.importeIva");
        
        $.ajax({
            type: 'POST',
            url: "{{ url('articulo_find') }}" ,
            data: data,
            success: function(resp){
                var articulo = $.parseJSON(resp.articulo);
                
                precio_venta.val(articulo.precioVenta)
                importe_iva.val(articulo.iva);
                fnRenglonChange(renglon);
            }
        });

        return true;
    }

    function fnRenglonChange(renglon) {
        var cantidad = renglon.find("input.cantidad");
        var bonificacion = renglon.find("input.bonificacion");
        var precioVenta = renglon.find("input.precioVenta");
        var importeIva = renglon.find("input.importeIva");
        var total = renglon.find("input.total");

        var total_neto_sin_iva = cantidad.val() * precioVenta.val();
        var total_neto = total_neto_sin_iva * (1+importeIva.val()/100)  ;
        var bonificacion =  total_neto * bonificacion.val()/100;
        var total_f = (total_neto - bonificacion).toFixed(3);
        total.val(total_f);   
        
        fnCalcularTotales();

        return true;
    }

    function fnCalcularTotales() {
        var bonificacion = 0;
        var total_neto = 0;
        var total_neto_sin_iva = 0;
        var importe_iva = 0;
        var total = 0;
        var total_costo = 0;
        var total_ganancia = 0;

        $("#ComprobanteType_articulos tr.item").each(function() {   
            total_neto_sin_iva = 0;
            var r_cantidad = $(this).find("input.cantidad")
            var r_bonificacion = $(this).find("input.bonificacion");
            var r_precioVenta = $(this).find("input.precioVenta");
            var r_importeIva = $(this).find("input.importeIva");
            var r_total = $(this).find("input.total");

            total_neto_sin_iva += parseFloat(r_cantidad.val()) * parseFloat(r_precioVenta.val());
            total_neto += total_neto_sin_iva;
            bonificacion += parseFloat(r_bonificacion.val()/100*total_neto);
            importe_iva += parseFloat(r_importeIva.val())/100*parseFloat(total_neto_sin_iva);
            total += parseFloat(r_total.val());
        });

        $("#ComprobanteType_totalNeto").val(total_neto_sin_iva.toFixed(3));
        $("#ComprobanteType_importeIva").val(importe_iva.toFixed(3));
        $("#ComprobanteType_totalBonificacion").val(bonificacion.toFixed(3));
        $("#ComprobanteType_total").val(total.toFixed(3));

        $("#ComprobanteType_totalCosto").val(total_neto_sin_iva.toFixed(3));
        $("#ComprobanteType_totalGanancia").val(total.toFixed(3)-total_neto_sin_iva.toFixed(3));

        return true;
    }
    
    function submitform() {
            alert('test');
            document.forms[0].submit();
            //document.getElementById('jsform').submit();
    }
</script>          

{% endblock %}